<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd

">
    <!-- SpringMVC容器只扫描Controller -->
    <context:component-scan base-package="com.zhbit.train.controller"
                            use-default-filters="false">
        <context:include-filter type="annotation"
                                expression="org.springframework.stereotype.Controller" />
    </context:component-scan>

    <!--    配置视图解析器-->
    <bean id="thymeleafViewResolver" class="org.thymeleaf.spring5.view.ThymeleafViewResolver">
        <property name="order" value="1"/>
        <property name="characterEncoding" value="UTF-8"/>
        <!--        调试的时候关闭缓存-->
        <property name="cache" value="false"/>
        <property name="templateEngine">
            <bean class="org.thymeleaf.spring5.SpringTemplateEngine">
                <property name="templateResolver">
                    <bean class="org.thymeleaf.spring5.templateresolver.SpringResourceTemplateResolver">
                        <!--                        视图前缀-->
                        <property name="prefix" value="/WEB-INF/templates/"/>
                        <!--                        视图后缀-->
                        <property name="suffix" value=".html"/>
                        <property name="templateMode" value="HTML5"/>
                        <property name="characterEncoding" value="UTF-8"/>
                    </bean>
                </property>
            </bean>
        </property>
    </bean>

<!--    配置view-controller-->
<!--    <mvc:view-controller path="/" view-name="hello"/>-->
    <mvc:view-controller path="/userRegister" view-name="/UserPage/userRegister"/>
    <mvc:view-controller path="/userLogin" view-name="/UserPage/userLogin"/>
    <mvc:view-controller path="/updateUser" view-name="/UserPage/updateUser"/>

    <mvc:view-controller path="/adminLogin" view-name="/AdminPage/adminLogin"/>

    <mvc:view-controller path="/showTrain" view-name="/TrainPage/showTrain"/>
    <mvc:view-controller path="/mgfind" view-name="/TrainPage/mgfind"/>
    <mvc:view-controller path="/addTrain" view-name="/TrainPage/addTrain"/>
    <mvc:view-controller path="/uploadImg" view-name="/TrainPage/uploadImg"/>

<!--    注册拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/train/add*"/>
            <mvc:mapping path="/train/delete*"/>
            <mvc:mapping path="/train/updateTrainInfo"/>
            <bean class="com.zhbit.train.interceptor.TrainInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

<!--    注册文件解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>

<!--    配置目录映射-->
    <mvc:resources mapping="/upload/" location="/upload/**"/>

    <!--    开启注解驱动-->
    <mvc:annotation-driven/>
    <!--    启动默认servlet处理静态资源-->
    <mvc:default-servlet-handler/>

</beans>