body{
	background-image:url(../picture/981.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

a{
	text-decoration: none;
	color: #4169E1;
}

.center{
	margin-top: 5%;
	margin-left: 37%;
	margin-right: 35%;
	text-align: center;
	position: absolute;
	height: 532px;
	width: 25%;
	background-color: ghostwhite;
	border-radius: 25px;
}

.left{
	text-align: left;
	padding: 20px;
}

table,tr,td{
	width: 100%;
}

tr{
	height: 30px;
}

caption{
	font-size: 40px;
	font-weight: 700px;
}

label{
	color: #333;
	text-align: right;
	margin-right: 20px;
	width: 20%;
}

input{
	height: 30px;
	border: 1px solid #ccc;
	width: 60%;
	border-radius: 5px;
}

.register{
	width: 80%;
	height: 40px;
	border: none;
	border-radius: 20px;
	background-color: royalblue;
}

.check{
	line-height: 14px;
	width: 14px;
	height: 14px;
}